@import '../../_colors.scss';
.card {
  width: 30%;
  max-width: 380px;
  min-width: 300px;
  height: 490px;
  background-color: white;
  margin: 10px;
  border-radius: 15px;
  border: 1px solid $color5-lighter;
  &:hover {
    border: 1px solid $color3;
    h1 {
      color: $color3;
    }
  }
  .card-image {
    background-position: center center; //vert&horz centered
    background-repeat: no-repeat; //no tiling
    background-size: cover; //scales background to container
    height: 70%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  }
}
