$color1: #559167; //Green
$color2: white;
$color3: #00c3f4; //blue
.navbar {
  background-color: $color2;
  opacity: .9;
  position: fixed;
  min-width: 100%;
  text-transform: uppercase;
  .wrapper {
    margin: 0 auto;
    max-width: 960px;
    padding: 0 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    background-color: $color1;
    border-radius: 50px;
    display: inline-block;
    height: 45px;
    width: 45px;
  }
  //Hide Menu Toggle on Default
  #menu-toggle {display: none;}
  .label-toggle {display: none;}
  //Page Links
  ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 50%;
    li  {
      display: inline-block;
    }
    a {
      color: $color1;
      font-family: sans-serif;
      text-decoration: none;
      transition: all .5s ease;
      &:hover {color: $color3;}
      &.active {color: $color3;}
    }
  }
  @media screen and (max-width: 768px) {
      ul {
        background-color: $color1;
        //Todo display none, use react animations
        display: block;
        height: 0;
        list-style-type: none;
        opacity: 0;
        text-align: center;
        transition: all 1s ease;
        width: 100%;
        visibility: hidden;
        padding: 0px; //Override weird user left padding
        li {
          border-bottom: 2px solid $color2;
          color: $color2;
          display: block;
          font-size: 1.5em;
          padding: 4vh;
          a {
            color: $color2;
          }
        }
      }
      #menu-toggle:checked ~ ul {
        opacity: 1;
        height: 55vh;
        visibility: visible;
      }
      .label-toggle {
        background: linear-gradient(to bottom, $color1 0%, $color1 20%, transparent 20%, transparent 40%, $color1 40%, $color1 60%, transparent 60%, transparent 80%, $color1 80%, $color1 100%); //Gradient Hamburger
        cursor: pointer;
        display: block;
        float: right;
        height: 35px;
        margin-top: 1em;
        width: 35px;
      }
      .wrapper {display: block;}
    }
}
