$color1: #559167; //Green
$color2: white;
$color3: #00c3f4; //blue
$dkcolor3: #1daad1; //dark blue
$color4:#dbdbdb; //grey accent
$outline: -.5px 0 $color4, 0 .5px $color4, .5px 0 $color4, 0 -.5px $color4;
$color5: rgba(236,236,234,0.95); //offwhite-grey
$color5-lighter: rgba(236,236,234,0.5);
$color6: #555555; //offblack
