@import  "_colors";
body {
  margin: 0px;
  background-color: $color5-lighter;
}
.container {
  max-width: 960px;
  margin: auto;
}
.text-block {
  margin: auto;
  width: 60%;
  text-align: center;
}
p,a, h1 {
  font-family: 'Roboto', sans-serif;
}
.full {
  height: 100vh;
}
.row {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
.background-img {
  background-position: center center; //vert&horz centered
  background-repeat: no-repeat; //no tiling
  background-size: cover; //scales background to container
}
