$color1: #559167; //Green
$color2: white;
$color3: #00c3f4; //blue
$dkcolor3: #1daad1; //dark blue
$color4:#dbdbdb; //grey accent
$outline: -.5px 0 $color4, 0 .5px $color4, .5px 0 $color4, 0 -.5px $color4;
$color5: rgba(236,236,234,0.95); //offwhite-grey
$color6: #555555; //offblack
.menu {
  .subheader {
    background-color: $color5;
    border-bottom: $color4 1px solid;
    a {
      padding: 10px;
      text-transform: uppercase;
      color: $color1;
      font-size: 13px;
      font-weight: 300;
      letter-spacing: 2px;
    }
    a:hover {
      cursor: pointer;
      color: $color3;
    }
    a.active {
      color: $color3;
    }
   &.fixed {
     position: fixed;
     top: 49px;
   }
  }
  .menu-content {
    padding: 15px;
    text-align: center;
    color: $color6;
    h1 {
      font-weight: 300;
      font-size: 20px;
      letter-spacing: 1px;
    }
    p {
      font-weight: 300;
      font-size: 12px;
    }
  }
  .card-info {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    * {
      padding: 10px 5px 5px 20px;
      margin: 0px;
    }
    p {
      font-size: 12px;
      text-align: left;
    }
    .price {
      color: black;
    }
  }
}
